body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  text-align: center!important;
}
a {text-decoration: none; color: black;}
a:hover {text-decoration: none; color: grey;}

img {
  height: 64;
  width: 64;
}
.addbutton {
margin-bottom:10px;

}
.id_input {
  width:50px;
}
.form-td{
  border:none
}
.page-link {
  color:#666666
}
.page-link a:hover {
  color:#666666
}